<div class="location-info">
  <div class="currency-container">RUB</div>

  <div class="delivery-container">
    <span class="city">Воронеж</span>
    <span>•</span>
    <span class="select-address">Укажите адрес доставки</span>
  </div>
</div>

<div class="quick-links-container">

  <div class="list">
    <div class="item">
      Озон для бизнесса
    </div>

    <div class="item">
      Мобильное приложение
    </div>

    <div class="item">
      Продавайте на Ozon
    </div>

    <div class="item">
      Реферальная программа
    </div>

    <div class="item">
      Подарочные сертификаты
    </div>
  </div>
</div>
