<div class="image-container">
  <img class="img" [src]="product.srcImg">
  <div class="image-background"></div>
</div>

<div class="info">

  <div class="price">
    {{product.price}}
  </div>

  <div class="name">
    {{product.name}}
  </div>

  <div *ngIf="(count ?? 0) <= 0; else counter" class="by-button" (click)="add()">В корзину</div>

  <ng-template #counter>
    <app-counter [count]="count" (increment)="increment()" (decrement)="decrement()"></app-counter>
  </ng-template>


</div>

<div class="config">
  <app-favorite-svg class="favorite"
                    [isFavorite]="isFavorite"
                    (click)="favoritesStorageService.toggle(product)">
  </app-favorite-svg>
</div>
