:host {
  display: flex;
}

.filters {
  height: 100%;
  min-width: 250px;
}

.products-container {
  grid-column-gap: 16px;
  grid-row-gap: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
