<img class="banner long-banner"
     src="https://cdn1.ozone.ru/s3/cms/bb/t80/wc1450/top.jpg"
     srcset="https://cdn1.ozone.ru/s3/cms/bb/t80/wc2900/top.jpg 2x">

<div class="stocks-container">

  <div class="stock-container">
    <img class="stock"
         loading="lazy"
         src="https://cdn1.ozone.ru/s3/cms/3d/t00/wc250/400x400_15.jpg">
  </div>

  <div class="stock-container">

    <img class="stock"
         loading="lazy"
         src="https://cdn1.ozone.ru/s3/cms/c3/t0a/wc250/400x400_16.jpg">
  </div>

  <div class="stock-container">
    <img class="stock"
         loading="lazy"
         src="https://cdn1.ozone.ru/s3/cms/3a/t08/wc250/400x400_17.jpg">
  </div>

  <div class="stock-container">
    <img class="stock"
         loading="lazy"
         src="https://cdn1.ozone.ru/s3/cms/cc/t28/wc250/400x400_18.jpg">
  </div>

  <div class="stock-container">
    <img class="stock"
         loading="lazy"
         src="https://cdn1.ozone.ru/s3/cms/5b/t7d/wc250/400x400_199.jpg">
  </div>

  <div class="stock-container">
    <img class="stock"
         loading="lazy"
         src="https://cdn1.ozone.ru/s3/cms/e4/t10/wc250/bolshe_for_hammers.jpg">
  </div>

</div>

<img class="banner long-banner"
     src="https://cdn1.ozone.ru/s3/cms/b8/t74/wc1450/desk.png"
     srcset="https://cdn1.ozone.ru/s3/cms/b8/t74/wc2900/desk.png 2x">

<div class="banners">
  <img class="banner"
       loading="lazy"
       src="https://cdn1.ozone.ru/s3/cms/9d/ta9/wc450/promo_hd_456-150.jpg"
       srcset="https://cdn1.ozone.ru/s3/cms/9d/ta9/wc900/promo_hd_456-150.jpg 2x">

  <img class="banner"
       loading="lazy"
       src="https://cdn1.ozone.ru/s3/cms/9d/ta9/wc450/promo_hd_456-150.jpg"
       srcset="https://cdn1.ozone.ru/s3/cms/9d/ta9/wc900/promo_hd_456-150.jpg 2x">

  <img class="banner"
       loading="lazy"
       src="https://cdn1.ozone.ru/s3/cms/9d/ta9/wc450/promo_hd_456-150.jpg"
       srcset="https://cdn1.ozone.ru/s3/cms/9d/ta9/wc900/promo_hd_456-150.jpg 2x">
</div>
