<div class="navigation">

  <div class="location-info">
    <div class="currency-container">RUB</div>

    <div class="delivery-container">
      <span class="city">Воронеж</span>
      <span>•</span>
      <span class="select-address">Укажите адрес доставки</span>
    </div>
  </div>

  <div class="quick-links-container">

    <div class="list">
      <div class="item">
        Озон для бизнесса
      </div>

      <div class="item">
        Мобильное приложение
      </div>

      <div class="item">
        Продавайте на Ozon
      </div>

      <div class="item">
        Реферальная программа
      </div>

      <div class="item">
        Подарочные сертификаты
      </div>
    </div>
  </div>
</div>

<header class="header">

  <div class="headers">
    <div class="logo">
      <img class="img"
           loading="lazy"
           src="https://cdn1.ozone.ru/s3/cms/35/t10/wc200/1doodle_new.png"
           alt="Ozon">
    </div>

    <div class="menu">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
        <path fill="currentColor"
              d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm2 0a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H8a1 1 0 0 1-1-1Zm0 6a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H8a1 1 0 0 1-1-1Zm1 5a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H8Zm-4-4a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm1 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"></path>
      </svg>
      Каталог
    </div>

    <div class="search-container">

      <div class="search-bar">
        <div class="search-categories">

          <span id="search-activity">Уже искали</span>

          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
            <path fill="currentColor" d="m4 6 4 5 4-5H4Z"></path>
          </svg>
        </div>

        <input id="search-input"
               class="search-input"
               placeholder="Искать на Ozon">

      </div>

      <button id="search-button" class="search-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
          <path fill="currentColor"
                d="M11 5a6 6 0 1 0 0 12c1.619 0 3.169-.639 4.24-1.656a1.101 1.101 0 0 1 1.537.019l4.93 4.93a1 1 0 0 1-1.414 1.414l-4.346-4.346A8.298 8.298 0 0 1 11 19a8 8 0 1 1 7.875-6.587 1 1 0 0 1-1.968-.351A6 6 0 0 0 11 5Z"></path>
        </svg>
      </button>
    </div>

    <div class="user-menu">

      <div class="action">
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="ba9x">
            <path fill="currentColor"
                  d="M8 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm10 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm-8.3 4.286c.016.015.185.165.5.323.376.187.971.391 1.8.391.829 0 1.425-.204 1.8-.391.175-.088.355-.19.5-.323a1 1 0 0 1 1.407 1.421C15.587 16.827 14.357 18 12 18c-2.358 0-3.587-1.173-3.707-1.293A1 1 0 0 1 9.7 15.286Z"></path>
            <path fill="currentColor"
                  d="M11 2a1 1 0 0 1 1-1c6.075 0 11 4.925 11 11s-4.925 11-11 11S1 18.075 1 12a11 11 0 0 1 6.23-9.914 1 1 0 0 1 1.36.524c.292.72.69 1.565 1.362 2.233C10.592 5.481 11.524 6 13 6a1 1 0 1 1 0 2c-2.024 0-3.458-.743-4.459-1.74-.6-.596-1.027-1.267-1.34-1.875A9 9 0 1 0 12 3a1 1 0 0 1-1.001-1Z"></path>
          </svg>

        </div>

        <span>Войти</span>
      </div>

      <div class="action">
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="x3f">
            <path fill="currentColor" fill-rule="evenodd"
                  d="M11.514 1.126a1 1 0 0 1 .972 0l9 5A1 1 0 0 1 22 7v10a1 1 0 0 1-.514.874l-9 5A1 1 0 0 1 11 22v-9.412l-3-1.666V13a1 1 0 1 1-2 0V9.81L4 8.7v7.734l4.514 2.708a1 1 0 0 1-1.028 1.716l-5-3A1 1 0 0 1 2 17V7a1 1 0 0 1 .514-.874l9-5ZM5.06 7 7.5 8.356 14.44 4.5 12 3.144 5.06 7ZM16.5 5.644 9.56 9.5 12 10.856 18.94 7 16.5 5.644ZM20 8.7l-7 3.888v7.713l7-3.89V8.7Z"
                  clip-rule="evenodd"></path>
          </svg>

        </div>

        <span>Заказы</span>
      </div>

      <div class="action">
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="g4w">
            <path fill="currentColor"
                  d="M7 5a4 4 0 0 0-4 4c0 3.552 2.218 6.296 4.621 8.22A21.525 21.525 0 0 0 12 19.91a21.58 21.58 0 0 0 4.377-2.69C18.78 15.294 21 12.551 21 9a4 4 0 0 0-4-4c-1.957 0-3.652 1.396-4.02 3.2a1 1 0 0 1-1.96 0C10.652 6.396 8.957 5 7 5Zm5 17c-.316-.02-.56-.147-.848-.278a23.542 23.542 0 0 1-4.781-2.942C3.777 16.705 1 13.449 1 9a6 6 0 0 1 6-6 6.183 6.183 0 0 1 5 2.568A6.183 6.183 0 0 1 17 3a6 6 0 0 1 6 6c0 4.448-2.78 7.705-5.375 9.78a23.599 23.599 0 0 1-4.78 2.942c-.543.249-.732.278-.845.278Z"></path>
          </svg>

        </div>

        <span>Избранное</span>
      </div>

      <div class="action">
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="au7">
            <path fill="currentColor"
                  d="M6 6a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4v2h4a1 1 0 0 1 .986 1.164l-1.582 9.494A4 4 0 0 1 17.46 22H6.54a4 4 0 0 1-3.945-3.342L1.014 9.164A1 1 0 0 1 2 8h4V6Zm2 2h5a1 1 0 1 1 0 2H3.18l1.389 8.329A2 2 0 0 0 6.54 20h10.92a2 2 0 0 0 1.972-1.671L20.82 10H17a1 1 0 0 1-1-1V6a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2Z"></path>
          </svg>

        </div>

        <span>Корзина</span>
      </div>

    </div>
  </div>

  <div class="quick-links">
    <div class="link">
      <span class="icon"
            style="background-image:url('https://cdn1.ozone.ru/s3/cms/07/tcb/ic_m_status_points3x.svg');"></span>

      <span>Premium</span>
    </div>

    <div class="link">
      <span class="icon" style="background-image: url(https://cdn1.ozone.ru/s3/cms/fb/t19/ic_m_plane.svg);"></span>

      <span>Билеты и Отели</span>
    </div>

    <div class="link">
      <span>Ozon Карта</span>
    </div>

    <div class="link">
      <span>Рассрочка</span>
    </div>

    <div class="link">
      <span>Бренды</span>
    </div>

    <div class="link">
      <span>Express</span>
    </div>

    <div class="link">
      <span>Сертификаты</span>
    </div>

    <div class="link">
      <span>Электроника</span>
    </div>

    <div class="link">
      <span>Одежда и обувь</span>
    </div>

    <div class="link">
      <span>Дом и сад</span>
    </div>

    <div class="link">
      <span>Детские товары</span>
    </div>
  </div>
</header>

<div class="content">
  <div class="sale-img-container">
    <img class="img"
         loading="lazy"
         src="https://cdn1.ozone.ru/s3/cms/33/t2b/wc1450/banner_1416x100.jpg">
  </div>


  <div class="options-container">

    <div class="options">

      <div class="title">
        Вас может заинтересовать
      </div>

      <div class="option-content">
        <div class="item">
          <img class="img" loading="lazy" src="https://cdn1.ozone.ru/s3/cms/85/t91/wc200/03.jpg">
          <span class="item-text"> Ноутбуки </span>
        </div>

        <div class="item">
          <img class="img" loading="lazy" src="https://cdn1.ozone.ru/s3/cms/bf/t9f/wc200/01.jpg">
          <span class="item-text"> Техника для кухни </span>
        </div>

        <div class="item">
          <img class="img" loading="lazy" src="https://cdn1.ozone.ru/s3/cms/78/t39/wc200/02.jpg">
          <span class="item-text"> Крупная бытовая техника </span>
        </div>

        <div class="item">
          <img class="img" loading="lazy" src="https://cdn1.ozone.ru/s3/cms/26/t0f/wc200/04.jpg">
          <span class="item-text"> Спортивные товары </span>
        </div>

      </div>

    </div>

    <div class="options">

      <div class="title">
        Что вы ищете?
      </div>

      <div class="option-content">
        <div class="item">
          <img class="img" loading="lazy" src="https://cdn1.ozone.ru/s3/cms/e8/ta4/wc200/480_480_app.jpg">
          <span class="item-text">  Для комфортных прогулок </span>
        </div>

        <div class="item">
          <img class="img" loading="lazy" src="https://cdn1.ozone.ru/s3/cms/72/tea/wc200/480_480_app_2.jpg">
          <span class="item-text"> Для занятий спортом </span>
        </div>

        <div class="item">
          <img class="img" loading="lazy" src="https://cdn1.ozone.ru/s3/cms/d8/t4b/wc200/480_480_app_3.jpg">
          <span class="item-text"> На подарок </span>
        </div>

        <div class="item">
          <img class="img" loading="lazy" src="https://cdn1.ozone.ru/s3/cms/cd/tf6/wc200/480_480_app_4.jpg">
          <span class="item-text"> Обновки для детей </span>
        </div>

      </div>


    </div>

    <div class="options">

      <div class="title">
        Мега скидки!
      </div>

      <div class="option-content">
        <div class="item">
          <img class="img" loading="lazy" src="https://cdn1.ozone.ru/s3/cms/a4/t9f/wc200/400_400_____5.jpg">
          <span class="item-text"> Детские товары </span>
        </div>

        <div class="item">
          <img class="img" loading="lazy" src="https://cdn1.ozone.ru/s3/cms/bc/tbb/wc200/400_400_____3.jpg">
          <span class="item-text">  Продукты питания </span>
        </div>

        <div class="item">
          <img class="img" loading="lazy" src="https://cdn1.ozone.ru/s3/cms/08/t01/wc200/400_400.jpg">
          <span class="item-text"> Товары для животных </span>
        </div>

        <div class="item">
          <img class="img" loading="lazy" src="https://cdn1.ozone.ru/s3/cms/51/t89/wc200/400_400_____2.jpg">
          <span class="item-text"> Бытовая химия </span>
        </div>

      </div>

    </div>

    <div class="options">

      <div class="title">
        Товары со всего мира!
      </div>

      <div class="option-content">
        <div class="item">
          <img class="img" loading="lazy" src="https://cdn1.ozone.ru/s3/cms/15/t93/wc200/400x400kazakhstan_1.jpeg">
          <span class="item-text"> Казахстан </span>
        </div>

        <div class="item">
          <img class="img" loading="lazy" src="https://cdn1.ozone.ru/s3/cms/c8/tc6/wc200/400400korea.jpg">
          <span class="item-text"> Корея </span>
        </div>

        <div class="item">
          <img class="img" loading="lazy" src="https://cdn1.ozone.ru/s3/cms/ca/tbd/wc200/400400china.jpg">
          <span class="item-text"> Китай </span>
        </div>

        <div class="item">
          <img class="img" loading="lazy" src="https://cdn1.ozone.ru/s3/cms/23/t2c/wc200/400400belarus.jpg">
          <span class="item-text"> Беларусь </span>
        </div>

      </div>

    </div>

  </div>

</div>

<footer class="footer">
  <span class="footer-text">© 1998 – 2022 ООО «Интернет»</span>
</footer>

<div id="overlay-container" class="overlay-container"></div>
