:host {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.navigation {
  margin: 0 auto 4px auto;
  width: 100%;
  max-width: 1400px;
}

.header {
  margin: auto;
  width: 100%;
  max-width: 1400px;
}

.container {
  max-width: 1400px;
  margin: 50px auto auto auto;
}


.footer {
  margin-top: 40px;
  padding: 40px 0;
}
